*{
    padding: 0;
    margin: 0;

}


body{
    font-family: 'poppins',sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.navbar-links{
    display: flex;
  column-gap: 20px;
}


.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}


a:hover{
    text-decoration: underline;
    color: #1d232c;
}


.navbar-menu-toggle{
    display: none;
}

/*side navbar*/

.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    left: -60%;
    top: 0;
    padding: 20px;
    color: white;
    transition: 1s;
}


.side-navbar-link{
    margin-bottom: 35px;

}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/* header */

.header{
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}


/*service */

.service{
    padding: 20px;
}

.service-container{
    display: flex;
    justify-content:space-between ;
    align-items: center;

}



.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
    
.service-container-2 div{
background-color: #F2F4F7;
border-radius: 5px;
padding: 10px;
}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20px;
}

.new-arrival button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 5px;
    border: none;
}


/* news */

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}


.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #F2F4F7;
}



.product-section{
    margin-top: 20px;

}


.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;

}

.product-search input :focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.product-box{
    text-align: center;
    flex-basis: 40%;
}

.product-box img{
    border-radius: 10px;
}

    

    .company-top, .company-bottom {
        text-align: center;
        padding: 40px 20px;
        font-size: 1.2rem;
    }
    
    .parent-container{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .form-container {
        width: 400px;
        background-color: #1d232c;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff;
    }

    input, textarea {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background: #ffffff;
        color: #000000;
        font-size: 1rem;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    button {
        width: 100%;
        padding: 12px;
        background: #0055ff;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background: #003bb5;
    }


/* media query*/

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display:block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .service-container{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}